@import "./theme.css";


@scope(.summit-freighters-start) to (.summit-freighters-end) {
@import "tailwindcss";

  font-family: var(--font-sans);
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: var(--text-sm--line-height);
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 840px;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-white);
  color: var(--color-gray-800);
  letter-spacing: var(--tracking-tight);
  margin-top: calc(var(--spacing) * 15);

  @media (min-width: 40rem) {
    .sm\:max-w-sm {
        max-width: var(--container-sm);
    }
  }
  @media (min-width: 40rem) {
    .sm\:w-full {
        width: 100%;
    }
  }
  @media (min-width: 40rem) {
    .sm\:mx-auto {
        margin-inline: auto;
    }
  }

  .border-b {
    border-width: 0;
    border-bottom-color: var(--color-gray-300);
    border-bottom-width: var(--tracking-wider);
  }
  .border {
    border-color: var(--color-gray-300);
    border-width: var(--tracking-wider);  
  }

  path {
    fill: var(--color-indigo-500);
  }
  
}

